button:hover
{
    color: white;
    font-size: 0px;
    background-image: url("https://i.ibb.co/tbHn3Fn/E2-E4-A182-A6-A1-48-DD-8756-D2533-B5-B9-CEE.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

h1{
    text-align: center;
    background-color: red;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100%;

}

button{
    font-size: 20px;
    padding: 20px 20px;
    border: 2px solid red;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 250px;
    text-align: center;
}

div{
    text-align: center;
}

body{
    text-align: center;
}